.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3); /* Shadow for contrast */
  }
  
  .login-footer p {
    color: white;
    margin: 0;
  }
  