<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <h1 style="text-align: center;">NghiaDZ</h1>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <h1 style="text-align: center;">NghiaDZ</h1>
</body>
>>>>>>> 71b12527e14a0fcbcb66f96a107dd2036812ede1
</html>