/* Header styles */
.header {
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.header .homepage-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.header .homepage-nav a {
  text-decoration: none;
  color: #fff;
}

.header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  z-index: 1;
}

.header .dropdown:hover .dropdown-content {
  display: block;
}

/* Main page styles */
.settings-page {
  padding: 20px;

}

.settings-title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}

.settings-body {
  display: flex;
  gap: 20px;
}

.settings-sidebar{
background-color: #dc3545;
}
/* Sidebar */
.settings-sidebar ul {
  list-style: none;
  padding: 0;
  display: block;
}

.settings-sidebar li {
  padding: 10px;
  cursor: pointer;
  display:flex;
}

.settings-sidebar li.active {
  background-color: #007bff;
  color: #fff;
}

/* Content section */
.settings-content {
  flex-grow: 1;
}

.settings-item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.settings-item-btn {
  padding: 10px 15px;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
}

.settings-item-btn.danger {
  background-color: #dc3545;
}

/* Footer */
.settings-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.footer-links a:hover {
  text-decoration: underline;
}
